<% layout("./layouts/boilerplate") %>
<form method="POST" action="/api/send">
  <div class="row container">
    <div class="col-8 offset-2">
      <div class="mb-3">
        <label for="from" class="form-label">Phone Number (From):</label>
        <input type="number" class="form-control" name="from" id="exampleFormControlInput1" placeholder="+91xxxxxxxxxx" value="914445008192" disabled>
      </div>
      <div class="mb-3">
        <label for="to" class="form-label">Phone Number (To):</label>
        <input type="number" class="form-control" name="to" id="exampleFormControlInput1" placeholder="+91xxxxxxxxxx">
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Your Message</label>
        <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="10"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Send Message</button>
      <button class="btn btn-primary" onclick="window.location.href = 'amazon://products/B08N5WRWNW';">Open Amazon Product</button>

    </div>
  </div>
</form>