<% layout("./layouts/boilerplate") %>
<form method="POST" action="/api/send">
  <label class="input input-bordered flex items-center gap-2">
    Phone Number (From)
    <input type="number" class="grow" placeholder="91xxxxxxxxxx" name="from" value="914445008192" disabled />
  </label>
  <label class="input input-bordered flex items-center gap-2">
    Phone Number (To)
    <input type="number" class="grow" placeholder="91xxxxxxxxxx" name="to" required />
  </label>
  <textarea
    placeholder="Your message"
    class="textarea textarea-bordered textarea-sm w-full max-w-xs"
    name="message"
    required
  ></textarea>
  <button type="submit" class="btn btn-active btn-wide btn-accent">Send Message</button>
</form>