<% layout("./layouts/boilerplate") %>
<div class="row conatiner p-2">
  <div class="sidebar col-4 vh-100">
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <% for(let allUsr of allChats) { %>
    <div class="chatItem d-flex align-items-center">
      <i class="fa-solid fa-user usrIcon mb-2 me-3"></i>
      <div class="chatDetails mb-2 flex-grow-1">
        <div class="chatHeader d-flex justify-content-between">
          <span><%= allUsr.name %></span>
          <span>12:00</span>
        </div>
        <div class="chatMsg">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, at,
          labore odit repellat iusto fugiat odio dolorem necessitatibus cumque
          soluta atque excepturi amet sit fuga dolor hic dignissimos repudiandae
          rem.
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="chat-area col-8 vh-100">
    <p>2</p>
  </div>
</div>
